* {
	box-sizing: border-box;
}

body {
	background:white;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

 .book1 {
	 width: 80px;
	 height: 110px;
	  background-color: #D6D6D6;
	  transform:skew(320deg);
	  margin-top:320px;
	  margin-left:200px;
	  
	}

 .book1-v {
      width: 79px;
      height: 20px;
      background: #6C6C6C;
      margin-left:154px;
    }

   .book1-h {
	 width: 92px;
	 height: 20px;
	  background-color: #6C6C6C;
	  transform:skewY(310deg);
	  margin-top:-75px;
	  margin-left:233px;
	}
.vase{
    width:200px;
    height:230px;
    background:#688440;
    opacity:58;
    position:absolute;
    opacity: 0.6;
    top:300px;
    left:350px;
    border-radius:100px 100px 50px 50px;
    z-index: 400;

   }

   .vasetexture{
    width:200px;
    height:230px;
    background:#688440;
    background: url(http://api.thumbr.it/whitenoise-361x370.png);
    background:#688440ff &noise=626262 & density83;
    opacity:58;
    position:absolute;
    z-index: 300;
    top:300px;
    left:350px;
    border-radius:100px 100px 50px 50px;

   }

   .vasetop{
     width:80px;
     height: 80px;
     background:#688440;
     position: absolute;
     opacity: 0.6;
     top:290px;
     left:410px;
     border-radius:10px;
     z-index: 50;
   }

   .line1 {
      width: 100px;
      height: 3px;
      background: black;
      transform:rotate(70deg);
      margin-left: 362px;
      margin-top: -153px;
    }
    .circle1 {
      width: 40px;
    height: 40px;
    background: #F2DA2F;
    filter:blur(5px);
    border-radius: 50%;
    margin-top: -122px;
    margin-left: 392px;
    }
    .line2 {
      width: 95px;
    height: 3px;
    background: black;
    transform: rotate(85deg);
    margin-left: 411px;
    margin-top: -4px;
    }
    .circle2 {
    width: 40px;
    height: 40px;
    background: #F2DA2F;
    filter:blur(5px);
    border-radius: 50%;
    margin-top: -9px;
    margin-left: 369px;;
    }
    .line3 {
      width: 130px;
    height: 3px;
    background: black;
    transform: rotate(75deg);
    margin-left: 368px;
    margin-top: -16px;
    }
    .circle3 {
      width: 40px;
    height: 40px;
    background: #F2DA2F;
    filter:blur(5px);
    border-radius: 50%;
    margin-top: -42px;
    margin-left: 433px;
    }
    .line4 {
      width: 113px;
    height: 3px;
    background: black;
    transform: rotate(130deg);
    margin-left: 449px;
    margin-top: 15px;
    }
    .circle4 {
    width: 40px;
    height: 40px;
    background: #F2DA2F;
    filter:blur(5px);
    border-radius: 50%;
    margin-top: -23px;
    margin-left: 537px;
    }

    .book2 {
      width: 15px;
    height: 200px;
    background: #6C6C6C;
    margin-left: 570px;
    }

    .book2-h {
   width: 15px;
    height: 40px;
    background-color: #6C6C6C;
    transform: skew(310deg);
    margin-top: -239px;
    margin-left: 593px;
  }
  .book2-v {
   width: 47px;
    height: 200px;
    background-color: #a5db8a;
    transform: skewY(320deg);
    margin-top: -21px;
    margin-left: 585px;
  }

    .toy {
    width: 100px;
    height: 130px;
    background: #DCDCDC;
    opacity: 0.7;
    margin-left: 264px;
    margin-top: -244px;
    z-index: 200;
    position: relative;
    }

    .toybottom {
        width: 100px;
        height: 20px;
        background: #202120;
        opacity: 0.7;
        margin-left: 264px;
        margin-top: -1px;
    }
    .toytop{
     height: 45px;
    width: 100px;
    border-radius: 0 0 90px 90px;
    background: #D3D3D3;
    opacity: 0.6;
    margin-left: 264px;
    margin-top: -149px;
}
  .toyred {
      width: 20px;
      height: 20px;
      background: red;
      border-radius: 50%;
      margin-left: 303px;
      margin-top: -61px;
    }

   .toyhead {
      width: 50px;
      height: 50px;
      background: black;
      border-radius: 50%;
      margin-left: 288px;
      margin-top: -28px;
    }

    .toybody {
      width: 50px;
      height: 70px;
      background: black;
      border-radius: 100px / 80px;
      margin-left: 288px;
      margin-top: 36px;
    }
    
    .arm1 {
    width: 20px;
    height: 40px;
    transform: rotate(35deg);
    background: black;
    border-radius: 100px / 80px;
    margin-left: 274px;
    margin-top: -58px;
    }

    .arm2 {
     width: 20px;
    height: 40px;
    transform: rotate(145deg);
    background: black;
    border-radius: 100px / 80px;
    margin-left: 331px;
    margin-top: -43px;
    }
    
    @keyframes blinking {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
  }
  5% {
    -webkit-transform: scaleX(1.5) scaleY(0);
  }
  11% {
    -webkit-transform: scaleX(1) scaleY(1);
  }
  55% {
    -webkit-transform: scaleX(1) scaleY(1);
  }
  61% {
    -webkit-transform: scaleX(1.5) scaleY(0);
  }
  66% {
    -webkit-transform: scaleX(1) scaleY(1);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
  }
}


 .eye1 {
  width: 10px;
  height: 13px;
  background: white;
  border-radius: 50%;
  position: relative;
  top: -76px;
  right: -292px;
  transform-origin: 50%;
  animation: blinking 3s infinite;
}

.eye2 {
  width: 10px;
  height: 13px;
  background: white;
  border-radius: 50%;
  position: relative;
  top: -88px;
  right: -322px;
  transform-origin: 50%;
  animation: blinking 3s infinite;
}


    
}
/*.eye:nth-child(1):after, .eye:nth-child(2):after {
  background: #ffffff;
  top: -25px;
  border-radius: 0;
  height: 15px;
}
.eye:nth-child(2):before {
  left: -5px;
}
.eye:nth-child(1) {
  float: left
}
.eye:nth-child(2) {
  float: right
}

  