body{
	font-size:20px;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: left;
}
.circle-1{
	width:150px;
	height:150px;
	background-color:#e72c58;
	border-radius:50%;
	margin-top: 25px;
	margin-bottom: 40px;
}
.rectangle-1 {
  display: inline-block;
  background-color: #10316b;
  height: 150px;
  width: 100px;
  transform: skew(45deg);
  font-size: 1px;
  padding: 1px;
  color: white;
  margin-top: 20px
  margin-right: 5px;
  margin-left: 5px;
  animation: shake 2s infinite;
  animation-direction: alternate;
}

@keyframes shake {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}

body, html {
  height: 100%;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}
