body{
	font-size:20px;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: left;
}
.circle-1{
	width:150px;
	height:150px;
	background-color:#e72c58;
	border-radius:50%;
	margin-top: 40px;
	margin-bottom: 40px;
}
.rectangle-1 {
      width: 100px;
      height: 200px;
      background-color: #1d2c6d;
      margin: 20px;
    }
