#container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: left;
}

 	.diamond {
  display: inline-block;
  background-color: #29c6cd;
  height: 150px;
  width: 150px;
  font-size: 2px;
  padding: 2px;
  color: white;
  margin-right: 1px;
  margin-left: 1px;
  animation: roll 7s infinite;
  transform: rotate(30deg);
  opacity: .7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


body, html {
  height: 100%;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond-2 {
  display: inline-block;
  background-color: #f06868;
  height: 150px;
  width: 150px;
  font-size: 5px;
  padding: 5px;
  color: white;
  margin-right: 1px;
  margin-left: 1px;
  animation: roll 7s infinite;
  transform: rotate(30deg);
  opacity: .7;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


body, html {
  height: 100%;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
}

